/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background: #fafafa;}

.text-center {
    text-align: center;
}
.ml20{
    margin-left: 20px;
}
.mr20{
    margin-right: 20px;
}
.mt20{
    margin-top: 20px;
}
.mb20{
    margin-bottom: 20px;
}
img{
    width: 30%;
    height: auto;
}